* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.main {
    position: relative;
    overflow: hidden;
}

.page-1 {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.page-1>video {
    height: 100%;
    width: 100%;
    pointer-events: none;
    object-fit: cover;
    position: relative;
}

.nav {
    height: 17vh;
    width: 100%;
    position: fixed;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vh 6vw;
    z-index: 1000;
}

.img-container img {
    height: 14vh;
    border-radius: 58px;
    width: 7vw;
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7); /* White glow effect */
    animation: glow 1.5s infinite alternate; /* Animation for the glow effect */
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
    }
    to {
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7);
    }
}

.nav button {
    border-radius: 50px;
    border: 1px solid white;
    padding: 1vh 1.4vw;
    color: white;
    background-color: rgb(18, 53, 23);
}

.nav button:hover {
    border-radius: 50px;
    border: 1px solid white;
    padding: 1vh 1.4vw;
    color: rgb(28, 24, 24);
    background-color: rgb(32, 225, 61);
    animation: glow 1s infinite alternate-reverse;
}

.page-1-text{
    color: aliceblue;
    display: flex;
}

.page-2{
    height: 100vh;
    width: 100%;
    background: red;
}


/* Additional media queries for other screen sizes can be added here */
