*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
   
}

.main{
    position: relative;
    overflow: hidden;
}

.page-1{
    height: 100vh;
    width: 100%;
}

.nav{
    height: 16vh;
    width: 100%;
    display: flex;
    background-color: transparent;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: fixed;
}

.img-container {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    overflow: hidden; /* Ensure the image doesn't overflow its container */
    border-radius: 50%; /* Create a circular container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
    animation: glowM 1s infinite alternate;
    animation-fill-mode: both;
   
}

.img-container img {
    width: 100%; /* Ensure the image fills its container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image behaves as a block element*/
}


#nav-item button{
    font-size: 1.2rem;
    margin-left: 20px;
    font-weight: 400;
    padding: 7px 20px;
    border-radius: 30px;
    border-color: royalblue;
}

#nav-item button:hover{
    font-size: 1.2rem;
    margin-left: 20px;
    font-weight: 400;
    padding: 7px 20px;
    border-radius: 30px;
    color: white;
    border-color: royalblue;
    background-color: rgb(219, 180, 219);
    animation: glow 1s backwards infinite;
}
video{
    object-fit: cover;
    width: 100%;
    pointer-events: none;
}

/* // animations and effects */
@keyframes glow {
    from {
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.7);
    }
    to {
        box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.7);
    }
}
@keyframes glowM {
    from {
        box-shadow: 0 0 10px 5px rgba(17, 216, 84, 0.7);
    }
    to {
        box-shadow: 0 0 20px 10px rgba(51, 214, 219, 0.7);
    }
}

.page1-text{
    display: flex;
    height: 55vh;
    width: 80%;
    position: relative;
    bottom: 56%;
    justify-content: space-between;
    left: 7%;
    background-color: red;
    flex-direction: column;
    padding: 3px 10px;

}

.page1-text>h1{
    font-size: 5rem;
    font-weight: 400;
    line-height: 0.9;
    color: white;
}

.page1-text-inner{
    display: flex;
    justify-content: space-between;
}

.page1-text-inner>h3{
    font-size: 1.5rem;
    color: white;
    line-height: 1;
    padding: 5px 14px;
}
.page1-text-inner>button{
    color: white;
    background: brown;
    font-size: 1.2rem;
    border: 1px solid green;
    padding: 2px 3px;
}