    @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
} 

.main{
  position: relative;
  overflow: hidden;
}

.page-1{
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.page-1>video{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.nav{
  height: 13vh;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 75px;
}

.img-container{
  display: flex;
  align-items: center;
}

.img-container>img{
  width: 7%;
  height: auto;
  object-fit: cover;
}
.nav-buttons {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.nav-buttons>button {
  padding: 5px 20px;
  background: #668e3d;
  color: white;
  border-radius: 30px;
  font-size: .9rem;
  margin-left: 10px; /* Adjust as needed */
}

.page-1-text{
  position: absolute;
  bottom: 9%;
  color:white;
  left: 5%;
  height: 45vh;
  width: 50vw;
  padding: 5px 10px;
}

.page-1-text>h1{
  font-family: system-ui;
  font-size: 5vw;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.page-1-text-inner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.page-1-text-inner>h3{
  font-size: 1.2rem;
  padding: 5px;
  color: white;
  line-height: 1;
  font-weight: 600;
}
.page-1-text-inner>button{
  padding: 7px 20px;
  color:#faebd7;
  border-radius: 30px;
  font-size: 1.2rem;
  flex-shrink: 0;
}

.scroll-down>i{
  position: relative;
  font-size: 85px;
  color: #faebd7;
  left: 170%;
  animation: glow 2s infinite alternate;
}

/* animations */
@keyframes glow {
  0% {
    box-shadow: 0 0 10px #3498db;
  }
  100% {
    box-shadow: 0 0 20px #3498db, 0 0 30px #3498db, 0 0 40px #3498db, 0 0 50px #3498db;
  }
}


.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

